<app-side-bar>
  <div [ngClass]="{ closeSideBar: closed }" id="mySidebar" class="sidebar">
    <button class="closeBtn pt-3" (click)="closeNav()">&times;</button>
    <a id="menuOp" (click)="toPM()" class="d-flex p-3">Placa Mãe</a>
    <a id="menuOp" (click)="toMouses()" class="d-flex p-3">Mouses</a>
    <a id="menuOp" (click)="toTeclados()" class="d-flex p-3">Teclados</a>
    <a
      id="menuOp"
      (click)="toProcess()"
      routerLink="produtos/processador"
      class="d-flex p-3"
      >Processadores</a
    >
  </div>
</app-side-bar>

<div class="mainClosed" [ngClass]="{ mainOpen: !closed }">
  <app-header>
    <button
      id="menu"
      class="mb-2 ml-4 p-3 d-flex align-items-center"
      (click)="openMenu()"
    >
      <span class="material-icons"> menu </span>
    </button>
  </app-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
