<nav class="header">
  <div class=" navigation">
    <ul>
      <li class="activeRoute">
        <button>Recipe Book</button>
      </li>
      <li>
        <button
          routerLinkActive="active"
          routerLink="recipes"
          *ngIf="isLoggedIn"
        >
          Recipes
        </button>
      </li>
      <li>
        <button routerLinkActive="active" routerLink="shoppinglist">
          Shopping List
        </button>
      </li>
    </ul>
  </div>
  <div class="dropBtn">
    <ul>
      <li ngbDropdown class="nav-item dropdown">
        <button
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span *ngIf="!isLoggedIn">Cadastre-se</span>
          <span *ngIf="isLoggedIn" class="material-icons">account_circle </span>
        </button>
        <div
          *ngIf="!isLoggedIn"
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" (click)="toCad()">Cadastro</a>
          <a class="dropdown-item" (click)="toLogin()">Login</a>
        </div>
        <div
          *ngIf="isLoggedIn"
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" (click)="logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
