<nav class="header">
  <div class="navigation">
    <ul>
      <li class="activeRoute">
        <button>Recipe Book</button>
      </li>
      <li>
        <button routerLinkActive="active" routerLink="recipes">Recipes</button>
      </li>
      <li>
        <button routerLinkActive="active" routerLink="shoppinglist">
          Shopping List
        </button>
      </li>
    </ul>
  </div>
  <div class="dropBtn">
    <ul>
      <li ngbDropdown class="nav-item dropdown">
        <button
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown link
        </button>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item">Start </a>
          <a class="dropdown-item">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
