.header {
  display: flex;
  padding-top: 10px;
  background-color: black;
  align-items: center;
  border-bottom: black solid 0.5px;
}
.dropBtn {
  margin-left: auto;
}
.drop-content {
  display: none;
}
a {
  cursor: pointer;
}
button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: none;
  border: none;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.activeRoute {
  margin-right: 10px;
  font-size: large;
}
.active {
  color: red;
}
