label {
  color: #002940;
  margin-top: 20px;
}
input {
  width: 400px;
  height: 35px;
  border-radius: 7px;
  border: none;
  background-color: rgb(204, 202, 200);
  color: #002940;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  margin-left: 30%;
  width: 500px;
  max-height: 700px;
}
.disable {
  margin-top: 10px;
  border: #b9bbb8 solid 0.4px;
  background-color: #b2b4b0;
  padding: 5px 10px 5px 10px;
  color: #002940;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}
.cadastro {
  margin-top: 10px;
  text-decoration: none;
  border: #91ff21 solid 0.4px;
  background-color: #91ff21;
  padding: 5px 10px 5px 10px;
  color: #002940;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all ease 0.5s;
  margin-top: 40px;
}
.cadastro:hover {
  background-color: #80dd23;
  border: #803013 solid 0.4px;
}
.validation {
  font-size: smaller;
  color: red;
}
input.ng-invalid.ng-touched {
  border: red solid 1px;
}
