<div class="containner">
  <form [formGroup]="signupForm" (ngSubmit)="sendForm()">
    <div class="control">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Name" formControlName="name" />
    </div>
    <span
      *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"
      class="userAlreadyExist"
      >Por favor preencha o campo!</span
    >
    <div class="control">
      <label for="desc">Password</label>
      <input
        type="text"
        id="desc"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <span
      *ngIf="
        !signupForm.get('password').valid && signupForm.get('password').touched
      "
      class="validation"
      >Senha muito curta</span
    >
    <div class="control">
      <label for="desc">E-mail</label>
      <input
        type="text"
        id="desc"
        placeholder="E-mail"
        formControlName="email"
      />
    </div>
    <span
      *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
      class="validation"
      >Digite um E-mail válido!</span
    >
    <div>
      <button [disabled]="isLoading" class="cadastro" type="submit">
        Cadastrar
      </button>
    </div>
  </form>
</div>
