.forms-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
img {
  max-width: 70px;
  max-height: 70px;
}
#book {
  height: 80px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  align-items: center;
  border: rgb(202, 194, 194) solid 0.4px;
  border-radius: 5px;
}
#book #itens {
  padding-left: 10px;
}
#book img {
  padding-right: 10px;
}
