<!-- <div class="col my-4">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div> -->
<div class="container my-4">
  <div *ngIf="isLoading" class="d-flex justify-content-center my-4">
    <div class="spinner-border" role="status"></div>
  </div>
  <form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="col">
      <div class="my-4">
        <label for="name">E-mail</label>
        <input
          formControlName="email"
          type="text"
          id="name"
          placeholder="E-mail"
        />
        <span
          *ngIf="
            !loginForm.get('email').valid && loginForm.get('email').touched
          "
          class="validation"
        >
          Digite um E-mail válido!</span
        >
      </div>
      <div>
        <label for="desc">Password</label>
        <input
          formControlName="password"
          type="text"
          id="desc"
          placeholder="Password"
        />
        <span
          *ngIf="
            !loginForm.get('password').valid &&
            loginForm.get('password').touched
          "
          class="validation"
        >
          Digite um E-mail válido!</span
        >
      </div>
    </div>
    <div class="col d-flex my-3">
      <div class="mr-3">
        <button class="btn btn-primary" type="submit">Sign In</button>
      </div>
      <button class="btn btn-primary" type="button" (click)="toSignUp()">
        To Sign Up
      </button>
    </div>
  </form>
</div>
