<div class="container my-4">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="col">
      <div class="my-4">
        <label for="name">Email</label>
        <input
          formControlName="Email"
          type="text"
          id="name"
          placeholder="E-mail"
        />
        <span *ngIf=""></span>
      </div>
      <div>
        <label for="desc">Password</label>
        <input
          formControlName="password"
          type="text"
          id="desc"
          placeholder="Password"
        />
      </div>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center my-4">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col d-flex my-3">
      <div class="mr-3">
        <button
          [disabled]="loginForm.invalid"
          class="btn btn-primary"
          type="submit"
        >
          Sign In
        </button>
      </div>
      <button class="btn btn-primary" type="button" (click)="toSignUp()">
        To Sign Up
      </button>
    </div>
  </form>
</div>
