.containner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e26913;
  padding: 50px;
  border-radius: 10px;
  border: white double 1px;
  max-width: 500px;
  max-width: 700px;
}

.recDetails {
  overflow-wrap: break-word;
  max-height: 100%;
}

img {
  width: 400px;
  height: 400px;
}
.title {
  color: white;
}
.recDesc {
  display: flex;
  max-width: 400px;
}
.descItem {
  padding-top: 7px;
  padding-left: 5px;
  font-size: large;
  color: #002940;
}
.dropBtn {
  text-decoration: none;
  border: #91ff21 solid 0.4px;
  background-color: #91ff21;
  padding: 10px;
  color: #002940;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all ease 0.5s;
}
.dropBtn:hover {
  background-color: #80dd23;
  border: #803013 solid 0.5px;
}
.ing span {
  padding-right: 3px;
}
