<div class="containner">
  <div>
    <h1>{{ recipeSelectedDetail.name }}</h1>
  </div>
  <img [src]="" alt="" style="width: 50px" />

  <div ngbDropdown>
    <button class="btn btn-primary" ngbDropdownToggle>Manage Recipe</button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>Add Ingridients Recipe to Shopping List</button>
      <button ngbDropdownItem>Edit Recipe</button>
      <button ngbDropdownItem>Delete Recipe</button>
    </div>
  </div>
  <div>Description</div>
  <div>Ingredients</div>
</div>
