<div class="containner">
  <div class="recDetails">
    <img [src]="recipeDet.imagePath" alt="" />
    <h1 class="title">{{ recipeDet.name }}</h1>
    <div class="recDesc">
      <h3 class="title">
        Description:
        <p class="descItem">{{ recipeDet.description }}</p>
      </h3>
    </div>
    <div *ngFor="let ingredient of recipeDet.ingredients" class="list-group">
      <div class="ing">
        <p>
          <span style="color: white">Ingredients: </span>
          <span style="color: #002940">{{ ingredient.name }}</span>
        </p>
        <p>
          <span style="color: white">Amount: </span>
          <span style="color: #002940">{{ ingredient.amount }}</span>
        </p>
      </div>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block" id="dropButton">
    <button class="dropBtn" ngbDropdownToggle>Manage Recipe</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Add Ingridients Recipe to Shopping List</button>
      <!-- <button [routerLink]="[index, 'edit']" ngbDropdownItem>
        Edit Recipe
      </button> -->
      <button ngbDropdownItem>Delete Recipe</button>
    </div>
  </div>
</div>
