<div id="main">
  <nav class="header">
    <div class="navigation d-flex align-items-center">
      <ng-content></ng-content>
      <ul class="d-flex">
        <li class="activeRoute">
          <button>Computadores</button>
        </li>
        <li>
          <button
            routerLinkActive="active"
            routerLink="computadores"
            *ngIf="isLoggedIn"
          >
            Monte já o seu
          </button>
        </li>
        <li>
          <button routerLinkActive="active" routerLink="shoppinglist">
            Carrinho
          </button>
        </li>
      </ul>
    </div>
    <div class="dropBtn">
      <ul>
        <li ngbDropdown class="nav-item dropdown">
          <button
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span *ngIf="!isLoggedIn">Cadastre-se</span>
            <span *ngIf="isLoggedIn" class="material-icons"
              >account_circle</span
            >
          </button>
          <div
            *ngIf="!isLoggedIn"
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" (click)="toCad()">Cadastro</a>
            <a class="dropdown-item" (click)="toLogin()">Login</a>
          </div>
          <div
            *ngIf="isLoggedIn"
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" (click)="logoutUser()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
