<div class="containner">
  <form [formGroup]="recipeForm" (ngSubmit)="addNewRecipe()">
    <label for="name">Recipe Name</label>
    <input formControlName="name" type="text" id="name" />
    <label for="desc">Recipe Description</label>
    <input formControlName="description" type="text" id="desc" />
    <label for="">Recipe Image</label>
    <input formControlName="imagePath" type="text" id="img" />
    <button type="submit" class="addRecipe">Add</button>
  </form>
  <span *ngIf="loading">Loading...</span>
  <span class="alert alert-danger">An error occured</span>
</div>
