<div class="containner">
  <div class="form">
    <label for="name">Recipe Name</label>
    <input type="text" id="name" [(ngModel)]="recName" />
    <label for="desc">Recipe Description</label>
    <input type="text" id="desc" [(ngModel)]="recDesc" />
    <label for="">Recipe Image</label>
    <input type="text" id="img" [(ngModel)]="recImg" />
  </div>
  <button (click)="addNewRecipe()" class="btn btn-success">New Recipe</button>
  <hr />
  <app-recipe-item
    *ngFor="let recipeEl of recipes; let i = index"
    [recipe]="recipeEl"
    [recipeId]="i"
  ></app-recipe-item>
</div>
