<div class="d-flex justify-content-center">
  <div class="mt-5">
    <div class="d-flex flex-column">
      <a
        *ngFor="let recipe of recipes; let i = index"
        (click)="goTo(recipe.id)"
        class="book"
        routerLinkActive="active"
      >
        <div id="itens" class="">
          <h4 id="title" class="">{{ recipe.name }}</h4>
          <p id="desc">{{ recipe.description }}</p>
        </div>
        <img [src]="recipe.imagePath" class="img" />
      </a>
      <div class="d-flex my-2">
        <button routerLink="new" class="btn btn-success mr-1">
          New Recipe
        </button>
        <button (click)="clear()" class="btn btn-danger mr-1">
          Clear Recipe Book
        </button>
        <button (click)="loadRecipes()" class="btn btn-primary mr-1">
          Fetch Recipes
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
