<div class="containner">
  <app-recipe-item (recItens)="addRecipe($event)"></app-recipe-item>
  <a
    id="book"
    *ngFor="let recipe of recipes; let i = index"
    class="list-group-item list-group-item-action"
  >
    <div>
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img"
      style="max-height: 70px"
    />
    <button class="close" (click)="deleteRecipe(i)">x</button>
  </a>
</div>
