.containner {
  margin-top: 50px;
}
.close {
  margin-top: 20px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: red;
  display: flex;
  justify-content: center;
}
img {
  max-height: 70px;
  max-width: 70px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form input {
  width: 400px;
  height: 40px;
  border: rgb(184, 170, 170) solid 1px;
  border-radius: 5px;
}
.pag {
  display: flex;
}
