#sideDrop {
  background-color: black;
  width: 150px;
  height: 500px;
}
.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.closeSideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#menuOp {
  font-size: 25px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

#menuOp:hover {
  background-color: rgb(34, 34, 34);
}
.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  right: 25px;
  font-size: 36pt;
  background: none;
  color: rgb(212, 16, 16);
  margin-left: 50px;
}
.closeBtn:hover {
  color: rgb(148, 23, 23);
}
